.symbol {
    min-width: 10px;
    min-height: 10px;
    border: none;
    object-fit: contain;
}

.symbolClick {
    opacity: 0.5;
}

.actorLink {
    line-height: 1.1;
    width: auto
}

.input-counter {
    column-gap: 5px;
    max-width: 20px;
}

.counter {
    grid-area: "counter";
    display: flex;
    height: fit-content;
    width: fit-content;
    min-width: 25px;
}

.actions {
    grid-area: "actions";
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 2.5 2.5 min-content;
}

.reactions {
    grid-area: "reactions";
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 min-content;
}

.flexbox-actions {
    display: flex;
    grid-area: "flex-actions";
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
    "counter"
    "flexbox-actions";
    height: fit-content;
}

.main {
    width: auto;
    height: auto;
}

/*@font-face {
    font-family: 'pf2-actions';
    src: url("/Data/systems/pf2e/fonts/Pathfinder2eActions.ttf");
}*/

/* original by FVTT-SelectiveShow */
/* modified */

.selective-show-form  .selector,
.selective-show-form  select {
    width: 100%;
    height: 100%;
    margin: 0%;
}

.selective-show-form  .form-group {
    height: calc(100% - 130px);
    /*modified based on number of buttons*/
}


.selective-show-form  button {
    margin-top: 0px;
}